

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    background-color: #f8f9fa;
    text-align: center;
    padding: 20px 0;
}

.header{
    background-image: url(../img/Black\ header.png);
    background-position: center;
    background-size: cover;
    min-height: 100vh;
}